
:root {
    
  --primary-color: #d0ccd0 ;
  --secondary-color: #fbfcff;
  --accent1-color: #1c6e8c;
  --accent2-color: #605856;


  --heading-font: "Red Hat Mono";
  --paragraph-font: "Lato";

  --headline-color-on-white: #1c6e8c;  
--headline-color-on-color: #605856;  
--paragraph-color-on-white: #041116;  
--paragraph-color-on-color: #050505;  
--paragraph-background-color: #396E94;
--nav-link-color: #3241e0;
--nav-background-color: #2133a8;
--nav-hover-link-color: #606060;
--nav-hover-background-color: #e89212;
}

article {
  box-sizing: border-box;
  background-color: #606060;
  display: flex;
  border: 2px solid #d0ccd0;
  justify-content: center;
  border-radius: 1px;
  align-items: center;

}

/*header nav {
text-align: right;
flex-wrap: wrap;
border: 1px solid #000;
}*/

.section, p, h2 {
  box-sizing: border-box;
  background-color: #606060;
  display: flex;
  
  border-radius: 1.5px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin: 10px;
  padding: 3.5px;


}

section {
  box-sizing: border-box;
  background-color: #606060;
  display: center;
  
  border-radius: 1.5px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 3.5px;
}

.hero img {
  background-color: #606060;
  display: flex;
justify-content: center;
align-items: center;
margin: 10px;
padding: 10px;
flex-wrap: wrap;

}

header, footer {
max-width: 840px;
margin: 0 auto;
}

header nav {
background-color: #d0ccd0;
border-radius: 2.5px;
box-sizing: border-box;
padding: 0.5rem;
display: flex;
justify-content: space-around;
align-items: center;
margin-top: 10px;
text-decoration: none;
font-size: 1.2rem;
font-weight: 700;
}

header nav :hover{
background-color: #e89212;
text-decoration: none;
}

header {
padding: 2rem;
margin: 1rem auto;
display: block;
grid-template-columns: 120px 4fr 4fr;


max-width: 1000px;
}


h1 {
font-size: 2rem;
font-family: Arial, sans-serif;
text-align: center;
border-bottom: 1px solid #e89212;
margin-bottom: 10px;
}

.ride {
align-items: center;
justify-content: space-between;
}

header img {
float: left;
}

.main {
flex-wrap: wrap-reverse;
align-items: center;
justify-content: center;
}


footer {
margin-top: 15px;
border-top: 1px solid #000;
text-align: center;
display: flex;
align-items: flex-end;
background-color: #fbfcff;

}

footer img {
float: right;
padding: 10px;
grid-template-columns: 120px 4fr 4fr;
}