* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --heading-background-color: #abe;
    --heading-text-color: #fff
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);
}
nav{
    background-color: darkblue;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border: 2px solid #000;
    padding: 1px;
    display: flex;
    justify-content: center;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0.2px;
    
} 
/* main { */
    /* max-width: 840px; */
/* } */

aside {
    width: 30rem;
    /* margin: 2rem; */
    /* border: 1px solid rgb(0 0 0 / 0.2 ); */
    /* padding: 2rem; */
    /* background-color: rgb(109, 125, 174); */
    /* color: #333; */
    text-align: center;
}
aside h2 {
    position: relative;
    top: 3px;
    left: 2px;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    background-color: darkblue;
    color: #fff;
}

/* Class Selector */

.box {
    margin: 1rem;
    border: 2px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #abe;
    color: #000;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
